.idea
*.class
*.iml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
.settings
.settings/*
.classpath
.project
target
target/*
classes
classes/*
*/node_modules/*
node_modules/*

rebel.xml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
logs
logs/*

*.rebel-remote.xml
*.rebel-remote.xml.bak
*.rebel.xml.bak
*Mine_*
.history
