<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zyd.blog.persistence.mapper.BizArticleStatisticsMapper">
	<resultMap id="rm" type="com.zyd.blog.business.article.pojo.entity.ArticleStatisticsItem">
		<result property="number" jdbcType="INTEGER" column="number"/>
		<result property="day" jdbcType="VARCHAR" column="day"/>
	</resultMap>

	<select id="statisticsVisitData"
			parameterType="com.zyd.blog.business.article.pojo.query.ArticleStatisticsQuery"
			resultMap="rm">
		SELECT
		COUNT (*) number, DATE_FORMAT(create_time,'%Y-%m-%d') day
		FROM
		biz_article
		WHERE
		<include refid="query"/>
		group by day
		order by day asc
	</select>

	<select id="statisticsTotalVisitData"
			parameterType="com.zyd.blog.business.article.pojo.query.ArticleStatisticsQuery"
			resultMap="rm">
		SELECT
		COUNT (*) number
		FROM
		biz_article
		WHERE
		<include refid="query"/>
	</select>
	<sql id="query">
		<if test="query.beginDate != null">AND create_time <![CDATA[ >= ]]> #{query.ruleType}</if>
		<if test="query.endDate != null">AND create_time <![CDATA[ <= ]]> #{query.showFlag}</if>
	</sql>
</mapper>

